version: '3.8'

services:
  db:
    image: ankane/pgvector:v0.5.0
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: my_database
    # .env ファイルを読み込む設定
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  app:
    build:
      context: ./api
      dockerfile: dockerfile
    restart: always
    ports:
      - '8000:8000'
    volumes:
      - ./api:/app
    depends_on:
      - db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/my_database
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres-data: